@font-face {
	font-family: "forgottenRegular";
	src: url("../fonts/forgottenfuturistrg.otf");
}
@font-face {
	font-family: "forgottenItalics";
	src: url("../fonts/forgottenfuturistrgit.otf");
}
body {
	background-attachment: fixed;
	background-color: black;
	background-image: url("../images/NEO.jpg");
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'forgottenRegular';
}
nav {
	opacity: .8;
}
.summaryParagraph {
	padding: 5px 5px 5px 5px;
	background-color: white;
	opacity: .8;
}
#asteroidWatch {
	margin: 0 0 10px 15px;
}
#asteroidHeader{
	font-size: 68px;
	color: black;
  	text-shadow:
   	-.5px -.5px 0 white,  
    .5px -.5px 0 white,
    -.5px .5px 0 white,
    .5px .5px 0 white;
}