html
{
	background-attachment: fixed;
	background-color: black;
	background-image: url("../images/marsbackground2.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

#earthDateError
{
	color: #F00;
	font-weight: bold;
}

#marsDateError
{
	color: #F00;
	font-weight: bold;
}